*,
*:before,
*:after {
	box-sizing: border-box;
}

body,
html {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	display: block;
	text-decoration: none;
}

ul,
ol {
	margin: 0;
	padding: 0;
	display: block;
}

ul li {
	list-style: none;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

p {
	margin: 0;
}

body {
	position: relative;

	&.menu-open {
		max-height: 100vh;
		overflow-y: hidden;
	}
}

// Generally speaking button and anchor elements are interchangable style wise so make them
// consistend from the start. -JS
a,
button {
	color: inherit;
	display: block;
	text-decoration: none;
	border: 0 none;
	appearance: none;
	background: none;
	padding: 0;
	line-height: 1;
	display: block;
	width: 100%;
	text-align: left;
}
